<section class="advantages section">
  <div class="advantages-container container">
    <h2 class="advantages-title-hidden visually-hidden">Our advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item">
        <div class="advatages-icon-wrapper">
          <svg class="advantages-icon" width="64" height="64">
            <use href="../img/icons/icons.svg#antenna"></use>
          </svg>
        </div>
        <h3 class="advantages-subtitle">Strategy</h3>
        <p class="advantages-descr">Our goal is to identify the business problem to walk away with the perfect
          and creative solution.</p>
      </li>
      <li class="advantages-item">
        <div class="advatages-icon-wrapper">
          <svg class="advantages-icon" width="64" height="64">
            <use href="../img/icons/icons.svg#clock"></use>
          </svg>
        </div>
        <h3 class="advantages-subtitle">Punctuality</h3>
        <p class="advantages-descr">Bring the key message to the brand's audience for the best price within
          the shortest possible time. </p>
      </li>
      <li class="advantages-item">
        <div class="advatages-icon-wrapper">
          <svg class="advantages-icon" width="64" height="64">
            <use href="../img/icons/icons.svg#diagram"></use>
          </svg>
        </div>
        <h3 class="advantages-subtitle">Diligence</h3>
        <p class="advantages-descr">Research and confirm brands that present the strongest digital growth
          opportunities and minimize risk. </p>
      </li>
      <li class="advantages-item">
        <div class="advatages-icon-wrapper">
          <svg class="advantages-icon" width="64" height="64">
            <use href="../img/icons/icons.svg#astronaut"></use>
          </svg>
        </div>
        <h3 class="advantages-subtitle">Technologies</h3>
        <p class="advantages-descr">Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.</p>
      </li>
    </ul>
  </div>
</section>