<!-- CUSTOMERS -->
<section class="section customers section">
  <div class="customers-container container">
    <h2 class="customers-title">Customers</h2>
    <ul class="customers-list">
      <li class="customers-item">
        <a href="" class="customer-item-link" target="_blank" rel="noopener noreferrer" aria-label="Logo customer">
          <svg class="customer-icon" width="104" height="56">
            <use href="/img/icons/icons.svg#logo-1"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="" class="customer-item-link" target="_blank" rel="noopener noreferrer" aria-label="Logo customer">
          <svg class="customer-icon" width="104" height="56">
            <use href="/img/icons/icons.svg#logo-2"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="" class="customer-item-link" target="_blank" rel="noopener noreferrer" aria-label="Logo customer">
          <svg class="customer-icon" width="104" height="56">
            <use href="/img/icons/icons.svg#logo-3"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="" class="customer-item-link" target="_blank" rel="noopener noreferrer" aria-label="Logo customer">
          <svg class="customer-icon" width="104" height="56">
            <use href="/img/icons/icons.svg#logo-4"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="" class="customer-item-link" target="_blank" rel="noopener noreferrer" aria-label="Logo customer">
          <svg class="customer-icon" width="104" height="56">
            <use href="/img/icons/icons.svg#logo-5"></use>
          </svg>
        </a>
      </li>
      <li class="customers-item">
        <a href="" class="customer-item-link" target="_blank" rel="noopener noreferrer" aria-label="Logo customer">
          <svg class="customer-icon" width="104" height="56">
            <use href="/img/icons/icons.svg#logo-6"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>