<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo logo link" href="./index.html">Web<span class="logo-dark">Studio</span></a>
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link active" href="./index.html">Studio</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="./portfolio.html">Portfolio</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <ul class="header-address-list list">
        <li class="header-address-item">
          <a class="header-address-link link" href="mailto:info@devstudio.com">info@devstudio.com</a>
        </li>
        <li class="header-address-item">
          <a class="header-address-link link" href="tel:+110001111111">+11 (000) 111-11-11</a>
        </li>
      </ul>
    </address>
    <!-- Button mobile-menu -->
    <button class="mobile-menu-btn js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="mobile-menu-icon" width="32" height="22">
        <use href="/img/icons/icons.svg#menu-burger"></use>
      </svg>
    </button>
  </div>
</header>