<!-- ------------MOBILE-MENU----------- -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="burger-close-btn js-close-menu">
    <svg class="burger-close-icon" width="8" height="8">
      <use href="../img/icons/icons.svg#modal-close"></use>
    </svg>
  </button>
  <!-- Mobile menu list -->
  <ul class="mobile-menu">
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="./index.html">Studio</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="./portfolio.html">Portfolio</a>
    </li>
    <li class="mobile-menu-item">
      <a class="mobile-menu-link" href="">Contacts</a>
    </li>
  </ul>
  <!-- Mobile menu contacts -->
  <ul class="mobile-contacts">
    <li class="mobile-contacts-item">
      <a class="mobile-contacts-link mobile-contacts-tel" href="tel:+110001111111">+11 (000) 111-11-11</a>
    </li>
    <li class="mobile-contacts-item">
      <a class="mobile-contacts-link mobile-contacts-mail" href="mailto:info@devstudio.com">info@devstudio.com</a>
    </li>
  </ul>
  <!-- Mobile menu social icons -->
  <ul class="icons-list mobile-menu-icons">
    <li class="icons-item">
      <a href="" class="icons-link" target="_blank" rel="noreferrer noopener" aria-label="Social media">
        <svg class="social-icon" width="24" height="24">
          <use href="../img/icons/icons.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="icons-item">
      <a href="" class="icons-link" target="_blank" rel="noreferrer noopener" aria-label="Social media">
        <svg class="social-icon" width="24" height="24">
          <use href="../img/icons/icons.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="icons-item">
      <a href="" class="icons-link" target="_blank" rel="noreferrer noopener" aria-label="Social media">
        <svg class="social-icon" width="24" height="24">
          <use href="../img/icons/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="icons-item">
      <a href="" class="icons-link" target="_blank" rel="noreferrer noopener" aria-label="Social media">
        <svg class="social-icon" width="24" height="24">
          <use href="../img/icons/icons.svg#linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>