<!-- ------------MODAL WINDOW------------ -->
<div class="backdrop is-hidden" data-modal>
  <!--------- Modal window --------->
  <div class="modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-close-icon" width="8" height="8">
        <use href="../img/icons/icons.svg#modal-close"></use>
      </svg>
    </button>
    <!--------- Modal form --------->
    <form class="modal-form">
      <p class="modal-form-tittle">Leave your contacts and we will call you back</p>
      <label class="modal-label" for="modal_name">Name</label>
      <div class="modal-input-wrapper">
        <input class="modal-input" type="text" name="modal_name" id="modal_name" required minlength="3"
          title="Please entet your name">
        <svg class="modal-icon modal-name" width="18" height="24">
          <use href="../img/icons/icons.svg#modal-name"></use>
        </svg>
      </div>
      <label class="modal-label" for="modal_phone">Phone</label>
      <div class="modal-input-wrapper">
        <input class="modal-input" type="tel" name="modal_phone" id="modal_phone" title="Please enter your phone"
          required>
        <!-- <input class="modal-input" type="tel" name="modal_phone" id="modal_phone"
                  title="Please enter your phone +38 (067) 555-55-55" required
                  pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"> -->
        <svg class=" modal-icon" width="18" height="24">
          <use href="../img/icons/icons.svg#modal-phone"></use>
        </svg>
      </div>
      <label class="modal-label" for="modal_email">Email</label>
      <div class="modal-input-wrapper">
        <input class="modal-input" type="email" name="modal_email" id="modal_email" title="Plese enter your e-mail"
          required>
        <svg class="modal-icon" width="18" height="24">
          <use href="../img/icons/icons.svg#modal-email"></use>
        </svg>
      </div>
      <label class="modal-label" for="modal_comment">Comment</label>
      <textarea class="modal-comment" name="" id="modal_comment" cols="" rows="5" placeholder="Text input"></textarea>
      <label class="modal-agreement">
        <div class="modal-agreement-wrapper">
          <input class="modal-agreement-input" type="checkbox" name="modal_agreement">
          <svg class="check-icon" width="10" height="8">
            <use href="../img/icons/icons.svg#modal-check"></use>
          </svg>
        </div>
        <span class="modal-agreement-text">I accept the terms and conditions of the <a class="modal-agreement-link"
            href="" target="_blank" rel="noopener noreferrer nofollow">Privacy
            Policy</a></span>
      </label>
      <button class="btn" type="submit">Send</button>
    </form>
  </div>
</div>