<!-- PROJECTS -->
<section class="projects section">
  <div class="projects-container container">
    <h2 class="projects-title">What are we doing</h2>
    <ul class="projects-list list">
      <li class="projects-item">
        <img class="projects-img" src="../img/projects/pc-applications.jpg" alt="pc applications" width="360"
          height="300">
      </li>
      <li class="projects-item">
        <img class="projects-img" src="../img//projects/mobile-applications.jpg" alt="mobile applications" width="360"
          height="300">
      </li>
      <li class="projects-item">
        <img class="projects-img" src="../img//projects/applications.jpg" alt="applications" width="360" height="300">
      </li>
    </ul>
  </div>
</section>