<!-- TEAM -->
<section class="team section">
  <div class="team-container container">
    <h2 class="team-title">Our Team</h2>
    <ul class="team-list list">
      <li class="team-item">
        <img class="team-img" srcset="../img/team/team-img1@1x.jpg 1x, ../img/team/team-img1@2x.jpg 2x"
          src="../img/team/team-img1@1x.jpg" alt="Mark Guerrero Product Designer" width="264" height="260">
        <div class="team-member">
          <h3 class="team-subtitle">Mark Guerrero</h3>
          <p class="team-descr">Product Designer</p>
          <ul class="team-icons-list icons-list list">
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img class="team-img" srcset="../img/team/team-img2@1x.jpg 1x, ../img/team/team-img2@2x.jpg 2x"
          src="../img/team/team-img2@1x.jpg" alt="Tom Ford Frontend Developer" width="264" height="260">
        <div class="team-member">
          <h3 class="team-subtitle">Tom Ford</h3>
          <p class="team-descr">Frontend Developer</p>
          <ul class="team-icons-list icons-list list">
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img class="team-img" srcset="../img/team/team-img3@1x.jpg 1x, ../img/team/team-img3@2x.jpg 2x"
          src="../img/team/team-img3@1x.jpg" alt="Camila Garcia Marketing" width="264" height="260">
        <div class="team-member">
          <h3 class="team-subtitle">Camila Garcia</h3>
          <p class="team-descr">Marketing</p>
          <ul class="team-icons-list icons-list list">
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <img class="team-img" srcset="../img/team/team-img4@1x.jpg 1x, ../img/team/team-img4@2x.jpg 2x"
          src="../img/team/team-img4@1x.jpg" alt="Daniel Wilson UI Designer" width="264" height="260">
        <div class="team-member">
          <h3 class="team-subtitle">Daniel Wilson</h3>
          <p class="team-descr">UI Designer</p>
          <ul class="team-icons-list icons-list list">
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icons-item">
              <a href="" class="icons-link link" target="_blank" rel="noopener noreferrer" aria-label="Social icon">
                <svg class="social-icon" width="16" height="16">
                  <use href="../img/icons/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>