/* ----------------FOOTER--------------- */

.footer {
  background-color: var(--navy-blue);
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.9px) {
  .footer-container {
    padding-left: 108px;
  }
}

/* ----------Footer-title---------- */

.footer-title {
}

@media only screen and (min-width: 768px) {
  .footer-title {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-title {
    margin-right: 120px;
  }
}

.footer-logo {
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;
  }
}

.logo-light {
  color: var(--cloud);
}

.footer-descr {
  color: var(--cloud);
  line-height: 1.5;
  max-width: 268px;
}

@media only screen and (min-width: 768px) {
  .footer-descr {
    max-width: 264px;
  }
}

/* ---------Footer-socil--------- */

.footer-social {
}

@media only screen and (min-width: 1158px) {
  .footer-social {
    margin-right: 80px;
  }
}

.footer-social-title {
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-social-title {
    text-align: left;
  }
}

.footer-social-list .icons-link:hover,
.footer-social-list .icons-link:focus {
  background-color: var(--green);
}

/* ----------Footer-form---------- */

.subscribe-form {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    width: auto;
  }
}

.footer-form-title {
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-form-title {
    text-align: left;
  }
}

.subscribe-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  column-gap: 24px;
}

@media only screen and (min-width: 768px) {
  .subscribe-label {
    justify-content: flex-start;
  }
}

.subscribe-email {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 12px;
  line-height: 2;

  background-color: transparent;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .subscribe-email {
    width: 264px;
  }
}

.subscribe-email::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 2;
}

.subscribe-button-wrapper {
  display: flex;
  position: relative;

  color: var(--white);
}

.subscribe-form-button {
  min-width: 165px;
  height: 40px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);

  padding: 8px 64px 8px 24px;
  border-radius: 4px;

  transition: background-color var(--anim);
}

.subscribe-form-button:hover,
.subscribe-form-button:focus {
  background-color: var(--ocean);
}

.subscribe-form-icon {
  position: absolute;
  top: 8px;
  right: 24px;

  fill: currentColor;
  pointer-events: none;
}
