/* ----------------HERO--------------- */

.hero.section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;

  /* Mobile screen */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/hero/hero-bg_mob@1x.jpg);
  background-color: var(--navy-blue);
}

/* retina mobile screen */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero.section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/hero-bg_mob@2x.jpg);
  }
}

/* Tablet screen */
@media only screen and (min-width: 429px) {
  .hero.section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/hero-bg_tab@1x.jpg);
  }

  /* retina tablet screen */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero.section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/hero/hero-bg_tab@2x.jpg);
    }
  }
}

/* Desktop screen */
@media only screen and (min-width: 769px) {
  .hero.section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/hero-bg_pc@1x.jpg);
  }

  /* retina desktop screen */
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/hero/hero-bg_pc@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero.section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--white);

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
    text-transform: none;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
}

.hero-btn:hover,
.hero-btn:focus {
}
