/* ----------------TEAM--------------- */

.team {
  background-color: var(--cloud);
}

.team-container {
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
  }
}

.team-item {
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
}

.team-member {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);

  margin-bottom: 8px;
}

.team-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-icons-list.icons-list {
  gap: 24px;
}

.team-icons-list .icons-link:hover,
.team-icons-list .icons-link:focus {
  background-color: var(--ocean);
}
